@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@100&display=swap');
:root {
    --blue: #0583f2;
    --black: #0d0d0d;
    --white: #e5e5e5;
    --bluedark: #142850;
    --bluewhite: #00909e;
}

html{
    scroll-behavior:smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
    background: #e8f1f2;
}

#logo {
    font-size: 1.4rem;
    font-weight: bold;
    transition: .6s;
    text-transform: uppercase;
    margin-left: 8rem;
}

span{
    background-image: linear-gradient(45deg, #0b41be, #2d61ca, #3b82d6, #43a3e1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 1.4rem;
}

#span{
    color: #0583f2;
    font-size: 2.5rem;
    margin: 0;
}

#nav {
    height: 100%;
    margin: auto 3rem; 
    display: flex;
    align-items: center;
}

#header {
    width: 100vw;
    display: flex;
    position: fixed;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background: #121214;
    color: #eee;
    height: 80px;
}

#menu {
    display: flex;
    list-style: none;
    
}

#menu a {
    display: block;
    padding: .5rem;
    font-size: 1rem;
    transition: .6s;
    text-decoration: none;
    color: #e7e7e7;
    font-weight: bold;
    font-size: 1.2rem;
}

#menu a:hover{
    background-image: linear-gradient(45deg, #0b41be, #2d61ca, #3b82d6, #43a3e1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btn-mobile{
    display: none;
}

/* ShowCase */
#showcase{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #eee;
    background: #121214;
    /*Overlay*/
    background-blend-mode: color;
}

#showcase-container {
    text-align: justify;
    margin-left: 5rem;
    max-width: 700px;
    width: 60%;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p{
    font-size: 1.2rem;
    padding: 2px 0;
} 

.img-show{
    margin-top: 2rem;
    border-radius: 50%;
    height: 300px;
    max-width: 300px;
    margin-left: 5rem;
    border: #0583f2 solid 1px;
    padding: .2rem;
}   

.btn {
    display: inline-block;
    padding: .6rem 3rem;
    font-size: 1.1rem;
    background-image: linear-gradient(45deg, #0b41be, #2d61ca, #3b82d6, #43a3e1);
    color: #eee;
    border-radius: 15px;
    transition: background 1s ease;
    margin-top: 15px;
    text-decoration: none;
    margin-right: 0.4rem;
}

.btn:nth-child(2){
    border: 1px solid #43a3e1;
    background: transparent;
}

/* About */
.headline {
    font-size: 2.2rem;
    text-align: center;
    padding: 20px 0;
}

#about {
    display: flex;
    justify-content: center;
    margin: 0.6rem 0;
}

#descricao {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
}

.figure{
    display: flex;
    flex-direction: column;
}

.img-about{
    height: 400px;
    width: 350px;
}

/* Acquirements*/
#acquirements{
    background: #121214;
    color: #e5e5e5;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card {
    text-align: center;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 1rem;
    margin: 1rem;
    max-width: 250px;
    width: 100%;
    transition: all 0.3s ease-out;
    background: #2d2e2e;
    color: #eeee;    
}

.card p {
    font-weight: bold;
    margin-top: .5rem;
}

.one {
    border-left: 3px solid #b86a2b;
}
   
.two {
    border-left: 3px solid #4895ff;
}
   
.three{
    border-left: 3px solid #afb13b;
}

.four {
    border-left: 3px solid #5C6BC0;
}

.image{
    height: 4rem;
    width: 4rem;
}

/* Projects*/
#projects{
    background: rgba(24, 24, 24, 0.9);
    color: #e5e5e5;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start;
    margin: 0;
}

.card-project{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    max-width: 280px;
    height: 400px;
    width: 100%;
    transition: all 0.3s ease-out;
    border-radius: 10px;
    margin: 1rem auto;
    background: #aaa;
    color: #2d2d2d;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(31,31,34,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(31,31,34,1);
    box-shadow: 10px 10px 5px 0px rgba(31,31,34,1);
    margin-bottom: 2rem;
}

.card-project p {
    padding: .5rem 1.2rem;
}

.title-project{
    font-weight: bolder;
    font-size: medium;
    text-align: center;
    color: #1f1f22;
}

.card-project-img{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: .5rem;
}

.desc-proj{
    height: 140px;
}

.more-info{
    background: #1f1f22;
    height: 60px;
    border-radius: 5px;
    text-align: center;
}

/* Formação */
#formacao{
    background: #121214;
    color: #e5e5e5;
}

#container-formacao{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-form{
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
}

.img-form{
    height: 3rem;
    width: 3rem;
}

/* Footer */
#footer {
    align-items: center;
    justify-content: space-around;
    background: #121214;
    color: #e5e5e5;
    text-align: center;
    padding: 1rem;
}

.redes{
    border-top: #eee 1px solid;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.icon{
    height: 24px;
    width: 24px;
    margin: 0 .6rem;
    margin-top: 1rem;
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

@media (max-width: 1024px) {
    .row {
        justify-content: flex-start;
    }
    
    #descricao{
        margin-left: 2rem;
    }
}

@media (max-width: 768px){

    .showcase-img{
        margin: auto;
        padding-top: 7rem;
    }

    .img-show{
        height: 300px;
        width: 300px;
        margin: 0;
    }

    h2{
        display: flex;
    }

    .headline{
       display: block;
    }

    p{
        display: flex;
    }

    #logo{
        display: flex;
        font-size: 1.2rem;
        margin: auto; 
    }
  
    span {
        font-size: 1.2rem;
        margin-left: .4rem;
        display: flex;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: #e7e7e7;
        cursor: pointer;
        gap: .5rem;
        font-family: "Poppins", sans-serif;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #0d0d0d;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0px 1rem;
        border-bottom: 2px solid #e7e7e7;
    }

    #hamburger{
        width: 20px;
        border-top: 2px solid #a5befa;
        z-index: 1000;
    }

    #showcase{
        display: block;
        height: 800px;
    }

    #showcase-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 3rem;
        width: 400px;
    }

    #showcase-container h2, #span,p{
       font-size: 1.6rem;
       margin: auto;
    }

    #span{
        margin-bottom: 1.4rem;
    }

    .showcase-btn{
        display: flex;
    }

    #showcase-container p{
       font-size: 1rem;
    }

    #showcase-container .btn{
        text-align: center;
        width: 200px;
    }

    #descricao{
        width: 90%;
        margin: 1rem;
    }

    .showcase-img{
        max-width: 450px;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #about {
        display: block;
    }

    #about p{
        text-align: justify;
        margin: auto;
        padding: 1rem;
    }

    .img-about{
        height: 250px;
        width: 350px;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .row {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .card{
        margin: 1.4rem auto;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .desc-proj{
        font-size: .2rem;
    }

    .card-project{
        margin: 1.4rem auto;
    }

    #footer{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px){
    
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: #e7e7e7;
        cursor: pointer;
        gap: .5rem;
        font-family: "Poppins", sans-serif;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #0d0d0d;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0px 1rem;
        border-bottom: 2px solid #e7e7e7;
    }

    #showcase-container h2, #span,p{
        margin: auto;
    }
 
    #span{
        margin-bottom: 1.4rem;
    }

    .showcase-btn{
        display: flex;
        width: 100%;
        margin: auto;
    }

    #hamburger{
        width: 20px;
        border-top: 2px solid #a5befa;
        z-index: 1000;
    }

    .showcase-img{
        display: flex;
    }

    .img-show{
        height: 200px;
        width: 200px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    #showcase-container{
        font-size: 1rem;
        padding-top: 3rem;
        width: 300px;
    }

    #showcase{
        height: 100%;
        height: 750px;
    }

    #container-formacao p{
        display: flex;
        font-size: 1rem;
        text-align: center;
    }

    .showcase-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about p{
        text-align: justify;
        margin: auto;
        padding: 1rem;
        font-size: 1rem;
    }

    .img-about{
        width: 300px;
    }

    .card h4 {
        font-size: 1.2rem;
    }
    
    .card p{
        font-size: 1rem;
    }

    .card-project p{
        font-size: 1rem;
    }

    #footer p{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
}